.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background: grey;
  color: black;
}

.navbar {
  background: grey;

}

.navbar  a{
  color: black !important;
}
