.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background: #3F37DD;
  color: #EDB438;
}

.navbar {
  background: #3F37DD;

}

.navbar  a{
  color: #EDB438 !important;
}
