@import 'Variables';

.project-inactive {
  margin-top: 2em;
  display: none;
}

.project-active {
  margin-top: 2em;
  display: block;
}

// TODO: put this back in play
// .project {
//   margin-top: 2em;
//   .active {
//     visibility: visible;
//   }
//   .inactive {
//     visibility: hidden;
//   }
// }

.project-title {
  font-size: $sub-title-font-size;
  margin-top: 1em;
}

.project-pic {
  width: 20em;
  height: 20em;
}

//-----DRAWER-------

.drawerPic {
  width: 15em;
  height: 15em;
}

// TODO: implement proj-inactive type situation
.drawerActive {
  display: block;
}

.drawerInactive {
  display: none;
}
